<!DOCTYPE html>
<html lang="pt-BR">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugestões</title>
    <link rel="stylesheet" href="{% static 'css/sugestão.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_query.css' %}">
    <script src="../static/scrip.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h2>We Petz</h2>
        </div>
        <ul id="navlist">
            <li><a href="/" class="link">Página Inicial</a></li>
            <li><a href="/usuarios" class="link">Formulario de adoção</a></li>
            <li><a href="/perros" class="link">Doguinhos</a></li>
            <li><a href="/gatos" class="link">Gatinhos</a></li>
            <li><a href="/voluntarios" class="link">Voluntários</a></li>
        <div class="menu-icon">
            <i class="fa-solid fa-bars" onclick="Aparecer()"></i>
        </div>
    </nav>



    <main class="main">
        <div class="conteiner">
            <div class="form_img">
                <img src="../static/imagens/undraw_opinion_re_jix4.svg" alt="">
            </div>
            <div class="form">
                <form action="POST">
                    {% csrf_token %}

                    <div class="form_header">
                        <h1>Deixe sua sugestão</h1>
                    </div>
                    <div class="input_group">
                        <div class="input_box">
                            <label for="nome">Seu nome</label>
                            <input type="text" name="nome" id="nome" placeholder="digite seu nome " required>
                        </div>
                        <div class="input_box">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="digite seu email" required>
                        </div>
                        <div class="input_box">
                            <label for="sugestão">Sua sugestão</label>
                            <input type="text" name="sugestão" id="sugestão" placeholder="digite aqui sua sugestão">
                        </div>
                    
                        
                    </div>
                    <div class="continue_button">
                        <button type="submit"><a href="#">Enviar</a></button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        let navlist = document.getElementById("navlist")
        navlist.style.maxHeight = "0px";

        function Aparecer(){
            if(navlist.style.maxHeight == "0px")
            {
                navlist.style.maxHeight = "300px";
            }
            else{
                navlist.style.maxHeight = "0px";
            }
        }
        
    </script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>
</body>
</html>