<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatinhos</title>
    <link rel="stylesheet" href="../static/estilo_animais.css">
    <link rel="stylesheet" href="../static/media_query.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h2>We Petz</h2>
        </div>
        <ul id="navlist">
            <li><a href="/" class="link">Página Inicial</a></li>
            <li><a href="/usuarios" class="link">Formulario de adoção</a></li>
            <li><a href="/perros" class="link">Doguinhos</a></li>
            <li><a href="/gatos" class="link">Gatinhos</a></li>
            <li><a href="/voluntarios" class="link">Voluntários</a></li>
        </ul>
        <div class="menu-icon">
            <i class="fa-solid fa-bars" onclick="Aparecer()"></i>
        </div>
    </nav>

    <main class="container">
        <h1>Gatos para adoção</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique totam est, quibusdam temporibus ut deleniti possimus repellendus repudiandae tenetur fugiat placeat ex officiis eaque nemo sapiente? Sit enim delectus perferendis?</p>
        <div class="box">
            
            <div class="boxes">
                <div class="imagem">
                    <img src="../templates/img/gato.jpg" alt="imagens">
                </div>
                <div class="infos">
                    <div class="linha">
                        <h3>
                            Nome: <p>Mel</p>
                        </h3>
                    </div>
                    <div class="linha">
                        <h3>
                            Idade: <p>3 meses</p>
                        </h3>
                    </div>
                    <div class="linha">
                        <h3>
                            Sexo: <p>Feminino</p>
                        </h3>
                    </div>
                    <div class="linha">
                        <h3>
                            Especie: <p>Gato</p>
                        </h3>
                    </div>
                    <div class="linha">
                        <h3>
                            Raça: <p>Vira-lata</p>
                        </h3>
                    </div>
                    <div class="linha">
                        <h3>
                            Caracteristica: <p> Meigo</p>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="boxes">
                <div class="imagem">
                    <img src="../templates/img/godofredo.jpg" alt="imagens">
                </div>
                <div class="infos">
                    <h3>
                        Nome: <p>Mel</p>
                    </h3>
                    <h3>
                        Idade: <p>3 meses</p>
                    </h3>
                    <h3>
                        Sexo: <p>Feminino</p>
                    </h3>
                    <h3>
                        Especie: <p>Gato</p>
                    </h3>
                    <h3>
                        Raça: <p>Vira-lata</p>
                    </h3>
                    <h3>
                        Caracteristica: <p> Meigo</p>
                    </h3>
                </div>
            </div>
            <div class="boxes">
                <div class="imagem">
                    <img src="../templates/img/caramelo.jpg" alt="imagens">
                </div>
                <div class="infos">
                    <h3>
                        Nome: <p>Mel</p>
                    </h3>
                    <h3>
                        Idade: <p>3 meses</p>
                    </h3>
                    <h3>
                        Sexo: <p>Feminino</p>
                    </h3>
                    <h3>
                        Especie: <p>Gato</p>
                    </h3>
                    <h3>
                        Raça: <p>Vira-lata</p>
                    </h3>
                    <h3>
                        Caracteristica: <p> Meigo</p>
                    </h3>
                </div>
            </div>
            <div class="boxes">
                <div class="imagem">
                    <img src="../templates/img/marta.jpg" alt="imagens">
                </div>
                <div class="infos">
                    <h3>
                        Nome: <p>Mel</p>
                    </h3>
                    <h3>
                        Idade: <p>3 meses</p>
                    </h3>
                    <h3>
                        Sexo: <p>Feminino</p>
                    </h3>
                    <h3>
                        Especie: <p>Gato</p>
                    </h3>
                    <h3>
                        Raça: <p>Vira-lata</p>
                    </h3>
                    <h3>
                        Caracteristica: <p> Meigo</p>
                    </h3>
                </div>
        </div>

        </div>

    </main>

    <section>
        <div>
            <h1>Formularios de adoção</h1>
            <a href="../../app_usuarios/templantes/adoção.html">Clique aqui</a>
        </div>
    </section>

    <footer>
        <p>Todos direitos reservados a We Petz</p>
    </footer>

    <script>
        let navlist = document.getElementById("navlist")
        navlist.style.maxHeight = "0px";

        function Aparecer(){
            if(navlist.style.maxHeight == "0px")
            {
                navlist.style.maxHeight = "300px";
            }
            else{
                navlist.style.maxHeight = "0px";
            }
        }
        
    </script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>


</body>
</html>