<!DOCTYPE html>
<html lang="pt-BR">
    
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja um Voluntario</title>

    <link rel="stylesheet" href="{% static 'css/estilo_voluntarios.css' %}">
    <link rel="stylesheet" href="{% static '/media_query.css' %}">
    <script src="../static/scrip.js"></script>
</head>


<body>
    <nav class="navbar">
        <div class="logo">
            <h2>We Petz</h2>
        </div>
        <ul id="navlist">
            <li><a href="/" class="link">Página Inicial</a></li>
            <li><a href="/usuarios" class="link">Formulario de adoção</a></li>
            <li><a href="/perros" class="link">Doguinhos</a></li>
            <li><a href="/gatos" class="link">Gatinhos</a></li>
            <li><a href="/voluntarios" class="link">Voluntários</a></li>
        </ul>
        <div class="menu-icon">
            <i class="fa-solid fa-bars" onclick="Aparecer()"></i>
        </div>
    </nav>

    <main class="main">
        <div class="conteiner">
            <div class="form_img">
                <img src="../static/img/undraw_different_love_a-3-rg (2).svg" alt="">
            </div>
            <div class="form">
                <form action="POST">
                    {% csrf_token %}
                    <div class="form_header">
                        <h1>Seja um Voluntario</h1>
                    </div>
                    <div class="input_group">
                        <div class="input_box">
                            <label for="nome">Nome completo</label>
                            <input type="text" name="nome" id="nome" placeholder="digite seu nome completo" required>
                        </div>
                        <div class="input_box">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="digite seu email" required>
                        </div>
                        <div class="input_box">
                            <label for="celular">Celular</label>
                            <input type="tel" name="celular" id="celular" placeholder="(xx) xxxxx-xxxx">
                        </div>
                        <div class="input_box">
                            <label for="endereço">Endereço</label>
                            <input type="text" name="endereço" id="endereço" placeholder="digite seu endereço ">
                        </div>
                        <div class="input_box">
                            <label for="cpf">CPF</label>
                            <input type="number" name="cpf" id="cpf" placeholder="xxx-xxx-xxx.xx">
                        </div>

                        <div class="input_box">
                            <label for="profissão">Profissão</label>
                            <input type="number" name="profissão" id="profissão" placeholder="digite sua profissão">
                        </div>
                        
                    </div>
                    <div class="continue_button">
                        <button type="submit"><a href="#">Enviar</a></button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        let navlist = document.getElementById("navlist")
        navlist.style.maxHeight = "0px";

        function Aparecer(){
            if(navlist.style.maxHeight == "0px")
            {
                navlist.style.maxHeight = "300px";
            }
            else{
                navlist.style.maxHeight = "0px";
            }
        }
        
    </script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>

</body>
</html>